.card-filter {
  display: none;
}
.searchButton {
  display: none;
}
.none {
  order: 1;
  opacity: 0;
  visibility: hidden;
}
.contenedor {
  margin-top: 4rem;
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#divCards {
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  min-width: 200px;
  margin: 0 2.2vw;
}
